

h1{
    font-size: 400%;
    text-shadow: 1px 1px 0px wheat;
    color: rgb(6, 6, 6);
}

button{
    margin: 20px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: rgb(6, 148, 164);
    color: rgb(5, 6, 6);
    font-style: italic;
}

input{
 border-radius: 10px;
 padding-left: 15px;
 padding-right: 15px;
 padding-top: 5px;
 padding-bottom: 5px; 
 font-size: larger;
 font-style: italic;
 border: 5px solid rgb(7, 234, 124);
}
ol{

    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    color: rgb(1, 1, 4);
    
}